.form-group{
    max-width: 25%;
}
form{
    position: absolute;
    width: 100%;
    left: 37%;
    top: 20%;
}
#overlay{
    overflow: hidden;
    z-index: 200;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0%;
    left: 0;
    background: rgba(0, 0, 0, 0.22);
}
label{
    font-size: 1.5rem;
}
.btn{
    border-radius: 5px;
    font-size: 1rem;
    margin: 0 4%;
}