body{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

.container{
    margin-top: 2rem;
}
.margin-b{
    margin-bottom: 1rem;
}
.margin-t{
    margin-top: 1rem;
}
.border-btm{
    border-bottom: 1px solid rgba(0,0,0,0.075);
    padding: 0.5rem 0;
}
.border-all{
    border: 1px solid rgba(0,0,0,0.05);
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: 700;
}
.flex-col{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Reused styles for floating forms */
#overlay{
  overflow: hidden;
  z-index: 200;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0%;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.form-group{
  width: 25rem;
}
#overlay form{
  position: absolute;
  width: 25%;
  left: 40%;
  top: 20%;
}
#overlay form .form-group label{
  font-size: 1.5rem;
  color: #fff;
}
#overlay form .btn{
  border-radius: 5px;
  font-size: 1rem;
  margin: 0 4%;
}
/*Overlay form mobile optimization*/
@media screen and (max-width: 1000px){
  #overlay form{
    left: 0;
    min-width: 100%;
  }
  #overlay form .form-group{
    min-width: 100%;
  }
}
